h2{
    color: rgb(164, 104, 192);
}
#increment-btn{
    background:  rgb(245, 35, 35);
    color: aliceblue;
    padding: 3%;
}
body{
    background-image: url("https://cdn4.vectorstock.com/i/1000x1000/12/13/railway-station-interior-with-people-passengers-vector-20031213.jpg");
}
div{
    background-color: aliceblue;
    width: 400px;
    text-align: center;
    padding: 1%;
    margin-left: 32%; 
    align-items: center;
}
#save-btn{
    background-color: green;
    color: aliceblue;
    padding: 3%;
}
